.nav.navbar-default(ng-init="initialize()")
  .nav-container.nav-bar
    button.navbar-toggle(data-toggle="collapse", data-target="mobile-nav", ng-click="isCollapsed = !isCollapsed")
      span.sr-only Toggle Nav
      span.icon-bar
      span.icon-bar
      span.icon-bar
    nav.mobile-menu.visible-xs.collapse(collapse="!isCollapsed", style="height: auto;")
      ul.nav.navbar-nav
        li
          a.menu_link(ng-click="scrollTo('page-1')") {{ 'HOME' | translate }}
        li
          a.menu_link(ng-click="scrollTo('page-2')") {{ 'TEAM' | translate }}
        li
          a.menu_link(ng-click="scrollTo('page-3')") {{ 'SERVICE' | translate }}
        li
          a.menu_link(href="http://blog.blt.kr/", target="_blank") {{ 'BLOG' | translate }}
        li
          a.menu_link(ng-click="scrollTo('page-4')") {{ 'CONTACTUS' | translate }}
        li
          a.btn.btn-fb(href="https://www.facebook.com/byunlisa", target="_blank", style="margin-left: 25px; margin-bottom:10px;")
        li
          a.btn.btn-twt(href="https://twitter.com/byunlisa", target="_blank", style="margin-left: 25px;")
        li
          a.lang.lang-en(ng-click="languageChange('us')") Eng
        li
          a.lang.lang-ko(ng-click="languageChange('kr')") Kor
    .header-left.pull-left
      img.logo(src="../images/blt_logo.png", ng-click="gotoPage(0)")
    .header-right.pull-right.hidden-xs
      nav.menu
        ul#navi-menu.navi_menu
          li.menu_item.pull-left
            a.menu_link(ng-click="scrollTo('page-1')") {{ 'HOME' | translate }}
          li.menu_item.pull-left
            a.menu_link(ng-click="scrollTo('page-2')") {{ 'TEAM' | translate }}
          li.menu_item.pull-left
            a.menu_link(ng-click="scrollTo('page-3')") {{ 'SERVICE' | translate }}
          li.menu_item.pull-left
            a.menu_link(href="http://blog.blt.kr/", target="_blank") {{ 'BLOG' | translate }}
          li.menu_item
            a.menu_link(ng-click="scrollTo('page-4')") {{ 'CONTACTUS' | translate }}
      .social
        .btns
          a.btn.btn-fb(href="https://www.facebook.com/byunlisa", target="_blank")
          a.btn.btn-twt(href="https://twitter.com/byunlisa", target="_blank")
      .language
          a.lang.lang-en(ng-click="languageChange('us')") Eng
          span |
          a.lang.lang-ko(ng-click="languageChange('kr')") Kor

#page-1
  .team-image-container.page-1
    .img-area
      img.team_photo(src="../images/blt_team_photo.png")

#page-2.page-container.page-2.color-change
  .team-member-container
    .page-header
      h2.page-title Our Team
    .member-list-container
      .member-list-area
        .member-item
          .photo-container
            img.member-photo(src="../images/member_1.png")
            .name-area
              h3.name {{ 'MEMBER_1_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_1_NAME' | translate }} <br /> {{'MEMBER_1_NAME_HOVER' | translate }}
              h6.email ryu@blte.kr
              p.desc {{ 'MEMBER_1_DESC' | translate }} <br /> {{ 'MEMBER_1_DESC_1' | translate }} <br /> {{ 'MEMBER_1_DESC_2' | translate }} <br /> {{ 'MEMBER_1_DESC_3' | translate }} <br /> {{ 'MEMBER_1_DESC_4' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_2.png")
            .name-area
              h3.name {{ 'MEMBER_2_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_2_NAME' | translate }} <br /> {{'MEMBER_2_NAME_HOVER' | translate }}
              h6.email shawn@blte.kr
              p.desc {{ 'MEMBER_2_DESC' | translate }} <br /> {{ 'MEMBER_2_DESC_1' | translate }} <br /> {{ 'MEMBER_2_DESC_2' | translate }} <br /> {{ 'MEMBER_2_DESC_3' | translate }} <br /> {{ 'MEMBER_2_DESC_4' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_3.png")
            .name-area
              h3.name {{ 'MEMBER_3_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_3_NAME' | translate }} <br /> {{'MEMBER_3_NAME_HOVER' | translate }}
              h6.email shawn@blte.kr
              p.desc {{ 'MEMBER_3_DESC' | translate }} <br /> {{ 'MEMBER_3_DESC_1' | translate }} <br /> {{ 'MEMBER_3_DESC_2' | translate }} <br /> {{ 'MEMBER_3_DESC_3' | translate }} <br /> {{ 'MEMBER_3_DESC_4' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_4.png")
            .name-area
              h3.name {{ 'MEMBER_4_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_4_NAME' | translate }} <br /> {{'MEMBER_4_NAME_HOVER' | translate }}
              p.desc {{ 'MEMBER_4_DESC' | translate }} <br /> {{ 'MEMBER_4_DESC_1' | translate }} <br /> {{ 'MEMBER_4_DESC_2' | translate }} <br /> {{ 'MEMBER_4_DESC_3' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_5.png")
            .name-area
              h3.name {{ 'MEMBER_5_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_5_NAME' | translate }} <br /> {{'MEMBER_5_NAME_HOVER' | translate }}
              p.desc {{ 'MEMBER_5_DESC' | translate }} <br /> {{ 'MEMBER_5_DESC_1' | translate }} <br /> {{ 'MEMBER_5_DESC_2' | translate }} <br /> {{ 'MEMBER_5_DESC_3' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_6.png")
            .name-area
              h3.name {{ 'MEMBER_6_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_6_NAME' | translate }} <br /> {{'MEMBER_6_NAME_HOVER' | translate }}
              p.desc {{ 'MEMBER_6_DESC' | translate }} <br /> {{ 'MEMBER_6_DESC_1' | translate }} <br /> {{ 'MEMBER_6_DESC_2' | translate }} <br /> {{ 'MEMBER_6_DESC_3' | translate }}<br /> {{ 'MEMBER_6_DESC_4' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_7.png")
            .name-area
              h3.name {{ 'MEMBER_7_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_7_NAME' | translate }} <br /> {{'MEMBER_7_NAME_HOVER' | translate }}
              p.desc {{ 'MEMBER_7_DESC' | translate }} <br /> {{ 'MEMBER_7_DESC_1' | translate }} <br /> {{ 'MEMBER_7_DESC_2' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_8.png")
            .name-area
              h3.name {{ 'MEMBER_8_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_8_NAME' | translate }} <br /> {{'MEMBER_8_NAME_HOVER' | translate }}
              p.desc {{ 'MEMBER_8_DESC' | translate }} <br /> {{ 'MEMBER_8_DESC_1' | translate }} <br /> {{ 'MEMBER_8_DESC_2' | translate }}
        .member-item
          .photo-container
            img.member-photo(src="../images/member_9.png")
            .name-area
              h3.name {{ 'MEMBER_9_NAME' | translate }}
            .hover-area
              p.name {{'MEMBER_9_NAME' | translate }} <br /> {{'MEMBER_9_NAME_HOVER' | translate }}
              p.desc {{ 'MEMBER_9_DESC' | translate }} <br /> {{ 'MEMBER_9_DESC_1' | translate }} <br /> {{ 'MEMBER_9_DESC_2' | translate }}


#page-3.page-container.page-3.color-change
  .project-container
    .page-header
      h2.page-title Service
    .project-list-container
      .project-list-area
        .project-item
          .photo-container
            img.project-photo(src="../images/service_1.jpg")
          .desc-container
            .desc-area
              p.title {{ 'WORK_1_TITLE' | translate }}
              p.bullet.desc {{ 'WORK_1_DESC_1' | translate }}
              p.bullet.desc {{ 'WORK_1_DESC_2' | translate }}
              p.bullet.desc {{ 'WORK_1_DESC_3' | translate }}
        .project-item
          .photo-container
            img.project-photo(src="../images/service_2.jpg")
          .desc-container
            .desc-area
              p.title {{ 'WORK_2_TITLE' | translate }}
              p.bullet.desc {{ 'WORK_2_DESC_1' | translate }}
              p.bullet.desc {{ 'WORK_2_DESC_2' | translate }}
              p.bullet.desc {{ 'WORK_2_DESC_3' | translate }}
        .project-item
          .photo-container
            img.project-photo(src="../images/service_3.jpg")
          .desc-container
            .desc-area
              p.title {{ 'WORK_3_TITLE' | translate }}
              p.bullet.desc {{ 'WORK_3_DESC_1' | translate }}
              p.bullet.desc {{ 'WORK_3_DESC_2' | translate }}
              p.bullet.desc {{ 'WORK_3_DESC_3' | translate }}
        .project-item
          .photo-container
            img.project-photo(src="../images/service_4.png")
          .desc-container
            .desc-area
              p.title {{ 'WORK_4_TITLE' | translate }}
              p.bullet.desc {{ 'WORK_4_DESC_1' | translate }}
              p.bullet.desc {{ 'WORK_4_DESC_2' | translate }}
              p.bullet.desc {{ 'WORK_4_DESC_3' | translate }}

#page-4.page-container.page-4.color-change
  .contactus-container
    .page-header
      h2.page-title Contact us
    .address-container
      .address-area
        p.address <span class="icn_addr address"></span> {{ 'ADDRESS' | translate }}
        p.address <span class="icn_addr tel"></span> 070-4100-0102
        p.address <span class="icn_addr fax"></span> 070-4855-0102
        p.address <span class="icn_addr email"></span>CS@BLT.KR
      .map-container
        #map
